// Partials
@import "partials/__utils.scss";
@import "partials/__typography.scss";
@import "partials/__setup.scss";


img {
    display: block;
    width: 100%;
}

// hide H1 text visually but keep it available for accessibility
.game-name {
  position:absolute;
  clip: rect(0 0 0 0);
}

body {
  background: $peach;
  background: linear-gradient(90deg, $peach 0%, $pinkPeach 100%);
  background-size: cover;
  height: 100vh;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: white;
  @include fontSize(15);
  text-shadow: -2px 3px 0px $txtShadowPink;
  -webkit-text-stroke: 0.5px $outlineRed;
}

.center {
  position: fixed; /* or absolute */
  top: 40%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.juicy-button {
  position: relative;
  top: 50px;
  @include fontSize(14);
  text-decoration: none;
  background: white;
  padding: 30px;
  border-radius: 30px;
	position:relative;
	text-transform:uppercase;
	text-decoration:none;
	letter-spacing:0.2em;
	font-weight:bold;
	color: #5e5e5e;
	transition:0.2s ease-in-out all;
	margin-bottom:30px;

	&:after {
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		content:"";
		border-radius:40px;
		transition:0.2s ease-in-out all;
		background:#fff;
		z-index:-1;
		animation: bounceOut 1000ms linear both;
	}

	&:hover {
		letter-spacing:0.4em;
		color: $btnPink;

		&:after {
 			animation: bounceIn 1000ms linear both;
		}
	}

	&:active {
		letter-spacing:0.2em;
		transition:0.1s ease-in-out all;

		&:after {
			animation: scaleDown 100ms linear both;
		}
	}
}

.logo-container {
  position: relative;
}

div.game-logo-container {
  position: absolute;
  left: -25%;
  top: -20%;
  z-index: 4;
  transform: rotate(-25deg);
}

img.juicy-index-text {
  width: 600px;
  margin: 0 auto;
}

img.juicy-game-text {
  width: 270px;
  margin: 0 auto;
}


.full-game-container {
  height: 100%;
  margin: 30px auto 0;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.jostle {
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  -webkit-text-stroke: 0.1px $outlineRed;
  color: #fff;
  text-shadow: -5px 5px 0px $txtShadowPink;
  margin: 0;
}

.index-jostle {
  top: 42%;
  left: 50%;
  @include fontSize(40);
}

.game-jostle {
  top: 50%;
  left: 49%;
  @include fontSize(23);
  -webkit-text-stroke: 0.5px $outlineRed;
}

.time {
  @include fontSize(18);
  position: absolute;
  top: -112px;
  right: 1px;
  text-shadow: none;
  color: white;
  letter-spacing: 0.1rem;
  text-align: right;
  border-radius: 5px;
  margin-top: 50px;

  -webkit-text-stroke: 0.7px $outlineRed;
  text-shadow: -2px 2px 0px $txtShadowPink;
}

i {
  color: $btnPink;
  -webkit-text-stroke: 0.7px $outlineRed;
  text-shadow: -2px 2px 0px $txtShadowPink;
  @include fontSize(20);
}

.icon-buttons{
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  right: -90px;
  i {
    @include fontSize(20);
    text-shadow: -3px 3px 0px $txtShadowPink;
    margin: 15px;
    color: white;
  }

  i:hover {
    color: $outlineRed;
    cursor: pointer;
  }

  .fa-sync-alt:hover {
    animation: spin 2s infinite;
  }

  .fa-question:hover {
    animation: wiggle 2s infinite;
  }

  .fa-heart:hover {
    animation: pulse 1.2s infinite;
  }

}


// game styles
.game-container {
    grid-column-start: 1;
    width: 500px;
    height: 500px;
    margin: 0 auto;
    position: relative;
    background-color: #fff;
    border: 20px solid white;
    border-radius: 1%;
}

.grid-container {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 15px;
    height: 500px;
    width: 500px;
    z-index: 1;

    .grid-cell {
        background-color: #FDE9DE;
        width: 100%;
        height: 100%;
        border-radius: 2%;
    }
}

.tile-container {
    position: absolute;
    z-index: 2;
}

$tile-size: 113.75px;
.tile {
    width: $tile-size;
    height: $tile-size;
    line-height: $tile-size;
    z-index: 10;
    font-size: 20px;
    text-align: center;
    background: white;
    border-radius: 2%;

    @include transition(100ms ease-in-out);
    @include transition-property(top, left, right, bottom);

    // Build position classes
    // from loop
    @for $x from 1 through 4 {
      @for $y from 1 through 4 {
        &.tile-position-#{$x}-#{$y} {
          // put items into correct grid position
          position: absolute;
          left: (($tile-size + 15px) * ($x - 1));
          top: (($tile-size + 15px) * ($y - 1));
        }
      }
    }
}

.tile-new {
  @include animation(appear 200ms ease 100ms);
  @include animation-fill-mode(both);
}

.tile-merged {
  z-index: 20;
  @include animation(pop 200ms ease 100ms);
  @include animation-fill-mode(both);
}

.win-image {

}

.tile {
  overflow: hidden;

}


.tile-merged:before{
  content:"";
  z-index:111;
  position:absolute;height:200%;width:200%;top:-120%;left:-120%;
  background:linear-gradient(transparent 0%,
    rgba(255, 255, 255, 0.1) 45%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0.1) 55%,
    transparent 100%);
    transition:all 3s;
    transform:rotate(-45deg);
    animation: shine 10s infinite forwards;
}
@keyframes shine{
  0%{top:-120%;left:-120%;}
  10%{left:100%;top:100%;}
  20%{left:100%;top:100%;}
  100%{left:100%;top:100%;}

}

