// Partials
@import "partials/__utils.scss";
@import "partials/__typography.scss";
@import "partials/__setup.scss";


img {
    display: block;
    width: 100%;
}

h2 {
  @include fontSize(28);
}

body {
  background: $peach;
  background: linear-gradient(90deg, $peach 0%, $pinkPeach 100%);
  cursor: url("../assets/Peach_Emoji.png"), auto;
  background-size: cover;
  height: 100vh;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: white;
  @include fontSize(15);
  text-shadow: -2px 3px 0px $txtShadowPink;
  -webkit-text-stroke: 0.5px $outlineRed;
}

// hide H1 text visually but keep it available for accessibility
.game-name {
  position:absolute;
  clip: rect(0 0 0 0);
}


//// INDEX STYLES //////////////
.index-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100%;
}

// MODALS/////////////////////
.modal {
  background: $pinkPeach;
  position: fixed;
  z-index: 50;
  border-radius: 5px;
  padding: 30px;
  overflow: hidden;
  display: none;
  transition: all 1s ease-out;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.show {
  display: block;
}

.index-modal {
  background: $btnPink;
  width: 100%;
  height: 100%;

  p {
    width: 550px;
    margin: 0 auto;

    i {
      @include fontSize(28);
    }
  }
  &:before {
    content:"";
    z-index:111;
    position:absolute;height:200%;width:300%;top:-120%;left:-120%;
    background:linear-gradient(transparent 0%,
    rgba(255, 255, 255, 0.1) 45%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0.1) 55%,
    transparent 100%);
    transition:all 6s;
    transform:rotate(-45deg);
    animation: shine 10s infinite forwards;
  }
}

.question-modal {
  text-align: center;
  text-shadow: -2px 2px 0px $txtShadowPink;

  .how-to-fruits {
    margin: 50px auto;
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    i {
      @include fontSize(30);
    }

    img {
      width: 120px;
    }

  }
}


.game-modal {
  width: 400px;
  height: 320px;

  h2 {
    @include fontSize(22);
  }

  p {
    i {
      @include fontSize(24);
    }
  }

  &.question-modal {
    .how-to-fruits {
      width: 330px;

      img {
        width: 80px;
      }

      i {
        @include fontSize(24);
      }
    }
  }
}


.winner-modal {
  .tweet-line {
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
    .fa-twitter {
      margin-right: 15px;
    }
  }

  h2 {
    margin-bottom: 20px;
  }

  p {
    margin: 8px;
  }


  .tweet-line:hover .fa-twitter{
    animation: wiggle 1s infinite;
  }

  .tweet-line:hover #tweet {
    transform: scale(1.05, 1.05);
  }

  #tweet,
  .fa-twitter {
    color: $twitterBlue;
    text-decoration: none;
    -webkit-text-stroke: 0.5px white;
    text-shadow: -2px 2px 0px white;
    transition: 0.2s ease-in-out all;
  }

}


// ICONS ///////////
i {
  color: white;
  position: relative;
  -webkit-text-stroke: 0.7px $outlineRed;
  text-shadow: -2px 2px 0px $txtShadowPink;
  @include fontSize(20);
}

.fa-question:hover {
  animation: wiggle 2s infinite;
}

.fa-heart:hover {
  animation: pulse 1.2s infinite;
}

.fa-sync-alt:hover {
  animation: spin 2s infinite;
}

.button-bar {
  position: relative;
}

.index-icon {
  @include fontSize(22);
  position: absolute;
  top: 45px;
  &.fa-question {
    left: -80px;
  }

  &.fa-heart {
    right: -80px;
  }
}


i.index-icon:hover {
    color: $outlineRed;
    cursor: pointer;
}

.juicy-button {
  position: relative;
  top: 50px;
  @include fontSize(14);
  text-decoration: none;
  background: white;
  padding: 30px;
  border-radius: 30px;
	position:relative;
	text-transform:uppercase;
	text-decoration:none;
	letter-spacing:0.2em;
	font-weight:bold;
	color: $btnPink;
  transition:0.2s ease-in-out all;

	&:after {
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		content:"";
		border-radius:40px;
		transition:0.2s ease-in-out all;
		background:#fff;
		z-index:-1;
		animation: bounceOut 1000ms linear both;
	}

	&:hover {
		letter-spacing:0.4em;
		color: $peach;

		&:after {
 			animation: bounceIn 1000ms linear both;
		}
	}

	&:active {
		letter-spacing:0.2em;
		transition:0.1s ease-in-out all;

		&:after {
			animation: scaleDown 100ms linear both;
		}
	}
}

.fa-times {
  position: absolute;
  z-index: 112;
  padding: 0;
  color: white;
  right: 30px;
  top: 24px;
  @include fontSize(26);
  cursor: pointer;
  &:hover {
    color: $peach;
    animation: spin 3s infinite;
  }
}

.icon-buttons{
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  right: -90px;
  i {
    @include fontSize(22);
    text-shadow: -3px 3px 0px $txtShadowPink;
    margin: 15px;
    color: white;
  }

  i:hover {
    color: $outlineRed;
    cursor: pointer;
  }

}

.index-times {
  right: 80px;
  top: 40px;
}

// LOGO ////////////////
.logo-container {
  margin-top: 8%;
  position: relative;
}

div.game-logo-container {
  position: absolute;
  left: -25%;
  top: -28%;
  z-index: 4;
  transform: rotate(-25deg);
}

img.juicy-index-text {
  width: 600px;
  margin: 0 auto;
}

img.juicy-game-text {
  width: 270px;
  margin: 0 auto;
}

.full-game-container {
  height: 100%;
  margin: 0 auto 0;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.jostle {
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  -webkit-text-stroke: 0.1px $outlineRed;
  color: #fff;
  text-shadow: -5px 5px 0px $txtShadowPink;
  margin: 0;
}

.index-jostle {
  top: 42%;
  left: 50%;
  @include fontSize(40);
  transition: all 2s ease;
  animation: shake 3s ease infinite;
}

.game-jostle {
  top: 50%;
  left: 49%;
  @include fontSize(23);
  -webkit-text-stroke: 0.5px $outlineRed;
}


// GAME ASSETS ////////////

.time-container {
  position: relative;
  width: 500px;
  margin: 0 auto;
  height: 36px;
}

.time {
  @include fontSize(18);
  position: absolute;
  right: 0;
  text-shadow: none;
  color: white;
  letter-spacing: 0.1rem;
  text-align: right;
  border-radius: 5px;
  -webkit-text-stroke: 0.7px $outlineRed;
  text-shadow: -2px 2px 0px $txtShadowPink;
}

.juice-again-button {
  padding: 21px 25px;
}


// GAME STYLES /////////////
.game-container {
    grid-column-start: 1;
    width: 500px;
    height: 500px;
    margin: 0 auto;
    position: relative;
    background-color: #fff;
    border: 20px solid white;
    border-radius: 1%;
}

.grid-container {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 15px;
    height: 500px;
    width: 500px;
    z-index: 1;

    .grid-cell {
        background-color: #FDE9DE;
        width: 100%;
        height: 100%;
        border-radius: 2%;
    }
}

.tile-container {
    position: absolute;
    z-index: 2;
}

$tile-size: 113.75px;
.tile {
    width: $tile-size;
    height: $tile-size;
    line-height: $tile-size;
    overflow: hidden;
    z-index: 10;
    font-size: 20px;
    text-align: center;
    background: white;
    border-radius: 2%;

    @include transition(100ms ease-in-out);
    @include transition-property(top, left, right, bottom);

    // Build position classes
    // from loop
    @for $x from 1 through 4 {
      @for $y from 1 through 4 {
        &.tile-position-#{$x}-#{$y} {
          // put items into correct grid position
          position: absolute;
          left: (($tile-size + 15px) * ($x - 1));
          top: (($tile-size + 15px) * ($y - 1));
        }
      }
    }
}

.tile-new {
  @include animation(appear 200ms ease 100ms);
  @include animation-fill-mode(both);
}

.tile-merged {
  z-index: 20;
  @include animation(pop 200ms ease 100ms);
  @include animation-fill-mode(both);
}


.tile-merged:before {
  content:"";
  z-index:111;
  position:absolute;height:200%;width:200%;top:-120%;left:-120%;
  background:linear-gradient(transparent 0%,
    rgba(255, 255, 255, 0.1) 45%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0.1) 55%,
    transparent 100%);
    transition:all 5s;
    transform:rotate(-45deg);
    animation: shine 10s infinite forwards;
}



// media width: 705
@media only screen and (max-width: 705px) {
  // game styles
  div.game-logo-container {
    display: none;
  }

  .icon-buttons {
    flex-direction: row;
    left: -20px;
    top: -82px;
    right: 0;
  }

  .time-container {
    width: 499px;
  }
}

@media only screen and (max-width: 500px) {
  // game styles
  .game-container {
    width: 300px;
    height: 300px;
    border: 10px solid white;
    border-radius: 1%;
  }

  .grid-container {
      grid-gap: 10px;
      height: 300px;
      width: 300px;
  }

  $tile-size: 67.5px;
  .tile {
    width: $tile-size;
    height: $tile-size;
    line-height: $tile-size;
    @include fontSize(11);

    // Build position classes
    // from loop
    @for $x from 1 through 4 {
      @for $y from 1 through 4 {
        &.tile-position-#{$x}-#{$y} {
          // put items into correct grid position
          position: absolute;
          left: (($tile-size + 10px) * ($x - 1));
          top: (($tile-size + 10px) * ($y - 1));
        }
      }
    }
  }

  .icon-buttons {
    left: -10px;
    top: -70px;
    i {
      @include fontSize(20);
    }
  }

  .time-container {
    width: 300px;
  }
  .time {
  @include fontSize(18);
    right: 0;
    top: -6px;
    text-shadow: none;
    color: white;
    letter-spacing: 0.1rem;
    text-align: right;
    border-radius: 5px;
    -webkit-text-stroke: 0.7px $outlineRed;
    text-shadow: -2px 2px 0px $txtShadowPink;
  }

  .game-modal {
    width: 230px;
    height: 260px;
  }

  // index styles
  .index-modal {
    h2 {
      @include fontSize(20);
    }

    h3 {
      @include fontSize(16);
      margin: 0;
      margin-bottom: 10px;
    }
    p {
      width: 280px;
      margin: 0 auto;
      @include fontSize(12);

      i {
        @include fontSize(20);
      }
    }
  }

  .question-modal {

    .how-to-fruits {
      margin: 25px auto;
      width: 300px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      i {
        @include fontSize(20);
      }

      img {
        width: 60px;
      }

    }
  }

  .logo-container {
    margin-top: 80px;
    .juicy-font {
      width: 300px;
    }

    .index-jostle {
      @include fontSize(22);
    }
  }
  .index-icon {
    @include fontSize(20);
    position: absolute;
    top: 120px;

    &.fa-question {
      left: 40px;
    }

    &.fa-heart {
      right: 40px;
    }
  }

  .juicy-button {
    @include fontSize(12);
    text-decoration: none;
    background: white;
    padding: 20px;
  }



}
// media height: 655