@-webkit-keyframes bounceIn {
  0% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  3.4% {
    -webkit-transform: matrix3d(1.083, 0, 0, 0, 0, 1.083, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.083, 0, 0, 0, 0, 1.083, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  6.81% {
    -webkit-transform: matrix3d(1.187, 0, 0, 0, 0, 1.187, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.187, 0, 0, 0, 0, 1.187, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  10.21% {
    -webkit-transform: matrix3d(1.26, 0, 0, 0, 0, 1.26, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.26, 0, 0, 0, 0, 1.26, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  13.61% {
    -webkit-transform: matrix3d(1.284, 0, 0, 0, 0, 1.284, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.284, 0, 0, 0, 0, 1.284, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  17.52% {
    -webkit-transform: matrix3d(1.263, 0, 0, 0, 0, 1.263, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.263, 0, 0, 0, 0, 1.263, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  21.32% {
    -webkit-transform: matrix3d(1.225, 0, 0, 0, 0, 1.225, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.225, 0, 0, 0, 0, 1.225, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  25.23% {
    -webkit-transform: matrix3d(1.196, 0, 0, 0, 0, 1.196, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.196, 0, 0, 0, 0, 1.196, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  29.03% {
    -webkit-transform: matrix3d(1.187, 0, 0, 0, 0, 1.187, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.187, 0, 0, 0, 0, 1.187, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  36.74% {
    -webkit-transform: matrix3d(1.205, 0, 0, 0, 0, 1.205, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.205, 0, 0, 0, 0, 1.205, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  44.44% {
    -webkit-transform: matrix3d(1.217, 0, 0, 0, 0, 1.217, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.217, 0, 0, 0, 0, 1.217, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  59.86% {
    -webkit-transform: matrix3d(1.208, 0, 0, 0, 0, 1.208, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.208, 0, 0, 0, 0, 1.208, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  75.28% {
    -webkit-transform: matrix3d(1.211, 0, 0, 0, 0, 1.211, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.211, 0, 0, 0, 0, 1.211, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  90.69% {
    -webkit-transform: matrix3d(1.21, 0, 0, 0, 0, 1.21, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.21, 0, 0, 0, 0, 1.21, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% {
    -webkit-transform: matrix3d(1.21, 0, 0, 0, 0, 1.21, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.21, 0, 0, 0, 0, 1.21, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } }

@keyframes bounceIn {
  0% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  3.4% {
    -webkit-transform: matrix3d(1.083, 0, 0, 0, 0, 1.083, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.083, 0, 0, 0, 0, 1.083, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  6.81% {
    -webkit-transform: matrix3d(1.187, 0, 0, 0, 0, 1.187, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.187, 0, 0, 0, 0, 1.187, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  10.21% {
    -webkit-transform: matrix3d(1.26, 0, 0, 0, 0, 1.26, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.26, 0, 0, 0, 0, 1.26, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  13.61% {
    -webkit-transform: matrix3d(1.284, 0, 0, 0, 0, 1.284, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.284, 0, 0, 0, 0, 1.284, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  17.52% {
    -webkit-transform: matrix3d(1.263, 0, 0, 0, 0, 1.263, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.263, 0, 0, 0, 0, 1.263, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  21.32% {
    -webkit-transform: matrix3d(1.225, 0, 0, 0, 0, 1.225, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.225, 0, 0, 0, 0, 1.225, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  25.23% {
    -webkit-transform: matrix3d(1.196, 0, 0, 0, 0, 1.196, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.196, 0, 0, 0, 0, 1.196, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  29.03% {
    -webkit-transform: matrix3d(1.187, 0, 0, 0, 0, 1.187, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.187, 0, 0, 0, 0, 1.187, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  36.74% {
    -webkit-transform: matrix3d(1.205, 0, 0, 0, 0, 1.205, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.205, 0, 0, 0, 0, 1.205, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  44.44% {
    -webkit-transform: matrix3d(1.217, 0, 0, 0, 0, 1.217, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.217, 0, 0, 0, 0, 1.217, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  59.86% {
    -webkit-transform: matrix3d(1.208, 0, 0, 0, 0, 1.208, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.208, 0, 0, 0, 0, 1.208, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  75.28% {
    -webkit-transform: matrix3d(1.211, 0, 0, 0, 0, 1.211, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.211, 0, 0, 0, 0, 1.211, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  90.69% {
    -webkit-transform: matrix3d(1.21, 0, 0, 0, 0, 1.21, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.21, 0, 0, 0, 0, 1.21, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% {
    -webkit-transform: matrix3d(1.21, 0, 0, 0, 0, 1.21, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.21, 0, 0, 0, 0, 1.21, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } }

@-webkit-keyframes bounceOut {
  0% {
    -webkit-transform: matrix3d(1.21, 0, 0, 0, 0, 1.21, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.21, 0, 0, 0, 0, 1.21, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  3.4% {
    -webkit-transform: matrix3d(1.122, 0, 0, 0, 0, 1.122, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.122, 0, 0, 0, 0, 1.122, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  6.81% {
    -webkit-transform: matrix3d(1.022, 0, 0, 0, 0, 1.022, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.022, 0, 0, 0, 0, 1.022, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  10.21% {
    -webkit-transform: matrix3d(0.955, 0, 0, 0, 0, 0.955, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.955, 0, 0, 0, 0, 0.955, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  13.61% {
    -webkit-transform: matrix3d(0.935, 0, 0, 0, 0, 0.935, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.935, 0, 0, 0, 0, 0.935, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  17.52% {
    -webkit-transform: matrix3d(0.953, 0, 0, 0, 0, 0.953, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.953, 0, 0, 0, 0, 0.953, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  21.32% {
    -webkit-transform: matrix3d(0.986, 0, 0, 0, 0, 0.986, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.986, 0, 0, 0, 0, 0.986, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  25.23% {
    -webkit-transform: matrix3d(1.013, 0, 0, 0, 0, 1.013, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.013, 0, 0, 0, 0, 1.013, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  29.03% {
    -webkit-transform: matrix3d(1.021, 0, 0, 0, 0, 1.021, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.021, 0, 0, 0, 0, 1.021, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  36.74% {
    -webkit-transform: matrix3d(1.004, 0, 0, 0, 0, 1.004, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.004, 0, 0, 0, 0, 1.004, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  44.44% {
    -webkit-transform: matrix3d(0.994, 0, 0, 0, 0, 0.994, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.994, 0, 0, 0, 0, 0.994, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  59.86% {
    -webkit-transform: matrix3d(1.002, 0, 0, 0, 0, 1.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.002, 0, 0, 0, 0, 1.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  75.28% {
    -webkit-transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  90.69% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } }

@keyframes bounceOut {
  0% {
    -webkit-transform: matrix3d(1.21, 0, 0, 0, 0, 1.21, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.21, 0, 0, 0, 0, 1.21, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  3.4% {
    -webkit-transform: matrix3d(1.122, 0, 0, 0, 0, 1.122, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.122, 0, 0, 0, 0, 1.122, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  6.81% {
    -webkit-transform: matrix3d(1.022, 0, 0, 0, 0, 1.022, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.022, 0, 0, 0, 0, 1.022, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  10.21% {
    -webkit-transform: matrix3d(0.955, 0, 0, 0, 0, 0.955, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.955, 0, 0, 0, 0, 0.955, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  13.61% {
    -webkit-transform: matrix3d(0.935, 0, 0, 0, 0, 0.935, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.935, 0, 0, 0, 0, 0.935, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  17.52% {
    -webkit-transform: matrix3d(0.953, 0, 0, 0, 0, 0.953, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.953, 0, 0, 0, 0, 0.953, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  21.32% {
    -webkit-transform: matrix3d(0.986, 0, 0, 0, 0, 0.986, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.986, 0, 0, 0, 0, 0.986, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  25.23% {
    -webkit-transform: matrix3d(1.013, 0, 0, 0, 0, 1.013, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.013, 0, 0, 0, 0, 1.013, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  29.03% {
    -webkit-transform: matrix3d(1.021, 0, 0, 0, 0, 1.021, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.021, 0, 0, 0, 0, 1.021, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  36.74% {
    -webkit-transform: matrix3d(1.004, 0, 0, 0, 0, 1.004, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.004, 0, 0, 0, 0, 1.004, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  44.44% {
    -webkit-transform: matrix3d(0.994, 0, 0, 0, 0, 0.994, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.994, 0, 0, 0, 0, 0.994, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  59.86% {
    -webkit-transform: matrix3d(1.002, 0, 0, 0, 0, 1.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.002, 0, 0, 0, 0, 1.002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  75.28% {
    -webkit-transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  90.69% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } }

@-webkit-keyframes scaleDown {
  0% {
    -webkit-transform: matrix(1.1, 0, 0, 1.1, 0, 0);
    transform: matrix(1.1, 0, 0, 1.1, 0, 0); }
  100% {
    -webkit-transform: matrix(1.05, 0, 0, 1.05, 0, 0);
    transform: matrix(1.05, 0, 0, 1.05, 0, 0); } }

@keyframes scaleDown {
  0% {
    -webkit-transform: matrix(1.1, 0, 0, 1.1, 0, 0);
    transform: matrix(1.1, 0, 0, 1.1, 0, 0); }
  100% {
    -webkit-transform: matrix(1.05, 0, 0, 1.05, 0, 0);
    transform: matrix(1.05, 0, 0, 1.05, 0, 0); } }

@-webkit-keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1); } }

@keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1); } }

@-webkit-keyframes pop {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0); }
  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2); }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1); } }

@keyframes pop {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0); }
  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2); }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1); } }

@-webkit-keyframes slide {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%); }
  100% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%); } }

@keyframes slide {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%); }
  100% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%); } }

@-webkit-keyframes shine {
  0% {
    top: -120%;
    left: -120%; }
  10% {
    left: 100%;
    top: 100%; }
  20% {
    left: 100%;
    top: 100%; }
  100% {
    left: 100%;
    top: 100%; } }

@keyframes shine {
  0% {
    top: -120%;
    left: -120%; }
  10% {
    left: 100%;
    top: 100%; }
  20% {
    left: 100%;
    top: 100%; }
  100% {
    left: 100%;
    top: 100%; } }

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  30% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  40% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  60% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  70% {
    -webkit-transform: scale(1.07);
    transform: scale(1.07); }
  80% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  30% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  40% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  60% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  70% {
    -webkit-transform: scale(1.07);
    transform: scale(1.07); }
  80% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg); }
  25% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg); }
  50% {
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg); }
  75% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg); }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); } }

@keyframes wiggle {
  0% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg); }
  25% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg); }
  50% {
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg); }
  75% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg); }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); } }

@-webkit-keyframes slid-in {
  0% {
    left: 1000px; }
  80% {
    left: 1000px; }
  90% {
    left: -5px; }
  100% {
    left: 0px; } }

@keyframes slid-in {
  0% {
    left: 1000px; }
  80% {
    left: 1000px; }
  90% {
    left: -5px; }
  100% {
    left: 0px; } }

@-webkit-keyframes shake {
  10%, 50% {
    -webkit-transform: translate3d(-1px, 0, 0);
    transform: translate3d(-1px, 0, 0); }
  15%, 45% {
    -webkit-transform: translate3d(2px, 0, 0);
    transform: translate3d(2px, 0, 0); }
  20%, 30%, 40% {
    -webkit-transform: translate3d(-4px, 0, 0);
    transform: translate3d(-4px, 0, 0); }
  25%, 35% {
    -webkit-transform: translate3d(4px, 0, 0);
    transform: translate3d(4px, 0, 0); } }

@keyframes shake {
  10%, 50% {
    -webkit-transform: translate3d(-1px, 0, 0);
    transform: translate3d(-1px, 0, 0); }
  15%, 45% {
    -webkit-transform: translate3d(2px, 0, 0);
    transform: translate3d(2px, 0, 0); }
  20%, 30%, 40% {
    -webkit-transform: translate3d(-4px, 0, 0);
    transform: translate3d(-4px, 0, 0); }
  25%, 35% {
    -webkit-transform: translate3d(4px, 0, 0);
    transform: translate3d(4px, 0, 0); } }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: 01C 01D 018 019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

img {
  display: block;
  width: 100%; }

h2 {
  font-size: 28px;
  font-size: 2.8rem; }

body {
  background: #fddc95;
  background: -webkit-gradient(linear, left top, right top, from(#fddc95), to(#fbb8a6));
  background: -webkit-linear-gradient(left, #fddc95 0%, #fbb8a6 100%);
  background: -o-linear-gradient(left, #fddc95 0%, #fbb8a6 100%);
  background: linear-gradient(90deg, #fddc95 0%, #fbb8a6 100%);
  cursor: url("../assets/peach_emoji.png"), auto;
  background-size: cover;
  height: 100vh;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 15px;
  font-size: 1.5rem;
  text-shadow: -2px 3px 0px #E28D8E;
  -webkit-text-stroke: 0.5px #D04746; }

.game-name {
  position: absolute;
  clip: rect(0 0 0 0); }

.index-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%; }

.corner-ribbon {
  width: 300px;
  background: black;
  position: absolute;
  font-size: 12px;
  font-size: 1.2rem;
  top: 50px;
  left: -65px;
  text-align: center;
  line-height: 50px;
  padding: 0;
  letter-spacing: 1px;
  color: #f0f0f0;
  text-shadow: none;
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -webkit-text-stroke: 0.5px #333; }
  .corner-ribbon i {
    text-shadow: none;
    margin-top: 8px;
    color: #333;
    -webkit-text-stroke: 0.5px white; }

.modal {
  background: #fbb8a6;
  position: fixed;
  z-index: 50;
  border-radius: 5px;
  padding: 30px;
  overflow: hidden;
  display: none;
  -webkit-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
  -webkit-box-shadow: 0 0px 38px #fbb8a6, 0 0px 12px #fbb8a6;
  box-shadow: 0 0px 38px #fbb8a6, 0 0px 12px #fbb8a6; }

.show {
  display: block; }

.index-modal {
  background: #fbb8a6;
  width: 100%;
  height: 100%; }
  .index-modal p {
    width: 550px;
    margin: 0 auto; }
    .index-modal p i {
      font-size: 28px;
      font-size: 2.8rem; }
  .index-modal:before {
    content: "";
    z-index: 111;
    position: absolute;
    height: 200%;
    width: 300%;
    top: -120%;
    left: -120%;
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(45%, rgba(255, 255, 255, 0.1)), color-stop(50%, rgba(255, 255, 255, 0.5)), color-stop(55%, rgba(255, 255, 255, 0.1)), to(transparent));
    background: -webkit-linear-gradient(transparent 0%, rgba(255, 255, 255, 0.1) 45%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.1) 55%, transparent 100%);
    background: -o-linear-gradient(transparent 0%, rgba(255, 255, 255, 0.1) 45%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.1) 55%, transparent 100%);
    background: linear-gradient(transparent 0%, rgba(255, 255, 255, 0.1) 45%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.1) 55%, transparent 100%);
    -webkit-transition: all 6s;
    -o-transition: all 6s;
    transition: all 6s;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: shine 10s infinite forwards;
    animation: shine 10s infinite forwards; }

.heart-modal.index-modal .credits {
  text-align: left;
  margin-top: 30px; }
  .heart-modal.index-modal .credits .credit-name {
    color: white;
    text-shadow: -4px 4px 0px #E28D8E;
    -webkit-text-stroke: 1px #D04746; }
  .heart-modal.index-modal .credits p {
    margin-top: 20px; }
  .heart-modal.index-modal .credits a {
    text-decoration: none;
    color: white; }
  .heart-modal.index-modal .credits a:hover {
    color: #fddc95; }

.question-modal {
  text-align: center;
  text-shadow: -2px 2px 0px #E28D8E; }
  .question-modal .how-to-fruits {
    margin: 40px auto 20px;
    width: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .question-modal .how-to-fruits i {
      font-size: 30px;
      font-size: 3rem; }
    .question-modal .how-to-fruits img {
      width: 120px; }

.game-modal {
  width: 400px;
  height: 320px;
  background-color: #fddc95; }
  .game-modal h2 {
    font-size: 22px;
    font-size: 2.2rem; }
  .game-modal p i {
    font-size: 24px;
    font-size: 2.4rem; }
  .game-modal.question-modal .how-to-fruits {
    width: 330px; }
    .game-modal.question-modal .how-to-fruits img {
      width: 80px; }
    .game-modal.question-modal .how-to-fruits i {
      font-size: 24px;
      font-size: 2.4rem; }
  .game-modal.question-modal .game-progression {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 330px; }
    .game-modal.question-modal .game-progression img {
      width: 33px; }
    .game-modal.question-modal .game-progression i {
      font-size: 10px;
      font-size: 1rem; }

.winner-modal {
  background-color: #fbb8a6;
  width: 500px;
  height: 520px; }
  .winner-modal .name-score-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .winner-modal .name-score-bar i {
      font-size: 2.5rem;
      cursor: pointer;
      margin-left: 10px; }
      .winner-modal .name-score-bar i:hover {
        -webkit-animation: shake 1s ease infinite;
        animation: shake 1s ease infinite;
        color: #D04746; }
    .winner-modal .name-score-bar .name-ranking {
      width: 50%; }
    .winner-modal .name-score-bar .name-ranking::-webkit-input-placeholder {
      font-size: 1.4rem; }
    .winner-modal .name-score-bar .name-ranking:-ms-input-placeholder {
      font-size: 1.4rem; }
    .winner-modal .name-score-bar .name-ranking::-ms-input-placeholder {
      font-size: 1.4rem; }
    .winner-modal .name-score-bar .name-ranking::placeholder {
      font-size: 1.4rem; }
  .winner-modal .high-scores {
    height: 200px;
    width: 70%;
    background-color: #fff;
    margin: 10px auto 0;
    overflow-y: auto;
    border: 2px solid #aaa; }
  .winner-modal .tweet-line {
    padding-top: 10px;
    padding-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 0px; }
    .winner-modal .tweet-line .fa-twitter {
      margin-right: 15px; }
  .winner-modal h2 {
    margin-bottom: 0; }
  .winner-modal p {
    margin: 8px; }
  .winner-modal .tweet-line:hover .fa-twitter {
    -webkit-animation: wiggle 1s infinite;
    animation: wiggle 1s infinite; }
  .winner-modal .tweet-line:hover #tweet {
    -webkit-transform: scale(1.05, 1.05);
    -ms-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05); }
  .winner-modal #tweet,
  .winner-modal .fa-twitter {
    color: #55ACEE;
    text-decoration: none;
    -webkit-text-stroke: 0.5px white;
    text-shadow: -2px 2px 0px white;
    -webkit-transition: 0.2s ease-in-out all;
    -o-transition: 0.2s ease-in-out all;
    transition: 0.2s ease-in-out all; }

.game-over-modal {
  background: #ccc; }

i {
  color: white;
  position: relative;
  -webkit-text-stroke: 0.7px #D04746;
  text-shadow: -2px 2px 0px #E28D8E;
  font-size: 20px;
  font-size: 2rem; }

.fa-question:hover {
  -webkit-animation: wiggle 2s infinite;
  animation: wiggle 2s infinite; }

.fa-heart:hover {
  -webkit-animation: pulse 1.2s infinite;
  animation: pulse 1.2s infinite; }

.fa-sync-alt:hover {
  -webkit-animation: spin 2s infinite;
  animation: spin 2s infinite; }

.button-bar {
  position: relative; }

.index-icon {
  font-size: 22px;
  font-size: 2.2rem;
  position: absolute;
  top: 45px; }
  .index-icon.fa-question {
    left: -80px; }
  .index-icon.fa-heart {
    right: -80px; }

i.index-icon:hover {
  color: #D04746;
  cursor: pointer; }

.juicy-button {
  position: relative;
  top: 50px;
  font-size: 14px;
  font-size: 1.4rem;
  text-decoration: none;
  background: white;
  padding: 30px;
  border-radius: 30px;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
  font-weight: bold;
  color: #fbb8a6;
  -webkit-transition: 0.2s ease-in-out all;
  -o-transition: 0.2s ease-in-out all;
  transition: 0.2s ease-in-out all; }
  .juicy-button:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    border-radius: 40px;
    -webkit-transition: 0.2s ease-in-out all;
    -o-transition: 0.2s ease-in-out all;
    transition: 0.2s ease-in-out all;
    background: #fff;
    z-index: -1;
    -webkit-animation: bounceOut 1000ms linear both;
    animation: bounceOut 1000ms linear both; }
  .juicy-button:hover {
    letter-spacing: 0.4em;
    color: #fddc95; }
    .juicy-button:hover:after {
      -webkit-animation: bounceIn 1000ms linear both;
      animation: bounceIn 1000ms linear both; }
  .juicy-button:active {
    letter-spacing: 0.2em;
    -webkit-transition: 0.1s ease-in-out all;
    -o-transition: 0.1s ease-in-out all;
    transition: 0.1s ease-in-out all; }
    .juicy-button:active:after {
      -webkit-animation: scaleDown 100ms linear both;
      animation: scaleDown 100ms linear both; }

.fa-times {
  position: absolute;
  z-index: 112;
  padding: 0;
  color: white;
  right: 30px;
  top: 24px;
  font-size: 26px;
  font-size: 2.6rem;
  cursor: pointer; }
  .fa-times:hover {
    color: #fddc95;
    -webkit-animation: spin 3s infinite;
    animation: spin 3s infinite; }

.icon-buttons {
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  right: -90px; }
  .icon-buttons i {
    font-size: 22px;
    font-size: 2.2rem;
    text-shadow: -3px 3px 0px #E28D8E;
    margin: 15px;
    color: white; }
  .icon-buttons i:hover {
    color: #D04746;
    cursor: pointer; }

.index-times {
  right: 80px;
  top: 40px; }

.fa-hand-point-left {
  position: absolute;
  top: -8px;
  font-size: 24px;
  font-size: 2.4rem;
  left: 180px;
  cursor: pointer;
  z-index: 2; }
  .fa-hand-point-left:hover {
    -webkit-animation: shake 1s ease infinite;
    animation: shake 1s ease infinite;
    color: #D04746; }

.mobile-keys {
  display: none; }

.logo-container {
  margin-top: 8%;
  position: relative; }

div.game-logo-container {
  position: absolute;
  left: -25%;
  top: -28%;
  z-index: 4;
  -webkit-transform: rotate(-25deg);
  -ms-transform: rotate(-25deg);
  transform: rotate(-25deg); }

img.juicy-index-text {
  width: 600px;
  margin: 0 auto; }

img.juicy-game-text {
  width: 270px;
  margin: 0 auto; }

.full-game-container {
  height: 100%;
  margin: 0 auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.jostle {
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  -webkit-text-stroke: 0.1px #D04746;
  color: #fff;
  text-shadow: -5px 5px 0px #E28D8E;
  margin: 0; }

.index-jostle {
  top: 42%;
  left: 50%;
  font-size: 40px;
  font-size: 4rem;
  -webkit-transition: all 2s ease;
  -o-transition: all 2s ease;
  transition: all 2s ease;
  -webkit-animation: shake 3s ease infinite;
  animation: shake 3s ease infinite; }

.game-jostle {
  top: 50%;
  left: 49%;
  font-size: 23px;
  font-size: 2.3rem;
  -webkit-text-stroke: 0.5px #D04746; }

.time-container {
  position: relative;
  width: 500px;
  margin: 0 auto;
  height: 36px; }

.time {
  font-size: 18px;
  font-size: 1.8rem;
  position: absolute;
  right: 0;
  text-shadow: none;
  color: white;
  letter-spacing: 0.1rem;
  text-align: right;
  border-radius: 5px;
  -webkit-text-stroke: 0.7px #D04746;
  text-shadow: -2px 2px 0px #E28D8E; }

.juice-again-button {
  padding: 21px 25px; }

.game-container {
  grid-column-start: 1;
  width: 500px;
  height: 500px;
  margin: 0 auto;
  position: relative;
  background-color: #fff;
  border: 20px solid white;
  border-radius: 1%; }

.grid-container {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 15px;
  height: 500px;
  width: 500px;
  z-index: 1; }
  .grid-container .grid-cell {
    background-color: #FDE9DE;
    width: 100%;
    height: 100%;
    border-radius: 2%; }

.tile-container {
  position: absolute;
  z-index: 2; }

.tile {
  width: 113.75px;
  height: 113.75px;
  line-height: 113.75px;
  overflow: hidden;
  z-index: 10;
  font-size: 20px;
  text-align: center;
  background: white;
  border-radius: 2%;
  -webkit-transition: 100ms ease-in-out;
  -moz-transition: 100ms ease-in-out;
  -webkit-transition-property: top, left, right, bottom;
  -moz-transition-property: top, left, right, bottom; }
  .tile.tile-position-1-1 {
    position: absolute;
    left: 0px;
    top: 0px; }
  .tile.tile-position-1-2 {
    position: absolute;
    left: 0px;
    top: 128.75px; }
  .tile.tile-position-1-3 {
    position: absolute;
    left: 0px;
    top: 257.5px; }
  .tile.tile-position-1-4 {
    position: absolute;
    left: 0px;
    top: 386.25px; }
  .tile.tile-position-2-1 {
    position: absolute;
    left: 128.75px;
    top: 0px; }
  .tile.tile-position-2-2 {
    position: absolute;
    left: 128.75px;
    top: 128.75px; }
  .tile.tile-position-2-3 {
    position: absolute;
    left: 128.75px;
    top: 257.5px; }
  .tile.tile-position-2-4 {
    position: absolute;
    left: 128.75px;
    top: 386.25px; }
  .tile.tile-position-3-1 {
    position: absolute;
    left: 257.5px;
    top: 0px; }
  .tile.tile-position-3-2 {
    position: absolute;
    left: 257.5px;
    top: 128.75px; }
  .tile.tile-position-3-3 {
    position: absolute;
    left: 257.5px;
    top: 257.5px; }
  .tile.tile-position-3-4 {
    position: absolute;
    left: 257.5px;
    top: 386.25px; }
  .tile.tile-position-4-1 {
    position: absolute;
    left: 386.25px;
    top: 0px; }
  .tile.tile-position-4-2 {
    position: absolute;
    left: 386.25px;
    top: 128.75px; }
  .tile.tile-position-4-3 {
    position: absolute;
    left: 386.25px;
    top: 257.5px; }
  .tile.tile-position-4-4 {
    position: absolute;
    left: 386.25px;
    top: 386.25px; }

.tile-new {
  -webkit-animation: appear 200ms ease 100ms;
  -moz-animation: appear 200ms ease 100ms;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both; }

.tile-merged {
  z-index: 20;
  -webkit-animation: pop 200ms ease 100ms;
  -moz-animation: pop 200ms ease 100ms;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both; }

.tile-merged:before {
  content: "";
  z-index: 111;
  position: absolute;
  height: 200%;
  width: 200%;
  top: -120%;
  left: -120%;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(45%, rgba(255, 255, 255, 0.1)), color-stop(50%, rgba(255, 255, 255, 0.5)), color-stop(55%, rgba(255, 255, 255, 0.1)), to(transparent));
  background: -webkit-linear-gradient(transparent 0%, rgba(255, 255, 255, 0.1) 45%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.1) 55%, transparent 100%);
  background: -o-linear-gradient(transparent 0%, rgba(255, 255, 255, 0.1) 45%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.1) 55%, transparent 100%);
  background: linear-gradient(transparent 0%, rgba(255, 255, 255, 0.1) 45%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.1) 55%, transparent 100%);
  -webkit-transition: all 5s;
  -o-transition: all 5s;
  transition: all 5s;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: shine 10s infinite forwards;
  animation: shine 10s infinite forwards; }

#name {
  color: #fbb8a6;
  text-decoration: none;
  font-size: 16px;
  font-size: 1.6rem;
  -webkit-text-stroke: 1px #D04746;
  -webkit-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out; }

.social-icons {
  list-style: none;
  margin: 50px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 230px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0; }
  .social-icons li:hover i {
    -webkit-animation: wiggle 1s infinite;
    animation: wiggle 1s infinite; }
  .social-icons i {
    font-size: 25px;
    font-size: 2.5rem;
    -webkit-text-stroke: 0.5px white;
    text-shadow: -2px 2px 0px white;
    -webkit-transition: 0.2s ease-in-out all;
    -o-transition: 0.2s ease-in-out all;
    transition: 0.2s ease-in-out all; }
  .social-icons .fa-github {
    color: #333; }
  .social-icons .fa-twitter {
    color: #55ACEE; }
  .social-icons .fa-instagram {
    color: #bc2a8d; }
  .social-icons .fa-linkedin-in {
    color: #0077b5; }

@media only screen and (max-width: 705px) {
  div.game-logo-container {
    display: none; }
  .icon-buttons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    left: -20px;
    top: -82px;
    right: 0; }
  .time-container {
    width: 499px; } }

@media only screen and (max-width: 500px) {
  .game-container {
    width: 300px;
    height: 300px;
    border: 10px solid white;
    border-radius: 1%; }
  .grid-container {
    grid-gap: 10px;
    height: 300px;
    width: 300px; }
  .tile {
    width: 67.5px;
    height: 67.5px;
    line-height: 67.5px;
    font-size: 11px;
    font-size: 1.1rem; }
    .tile.tile-position-1-1 {
      position: absolute;
      left: 0px;
      top: 0px; }
    .tile.tile-position-1-2 {
      position: absolute;
      left: 0px;
      top: 77.5px; }
    .tile.tile-position-1-3 {
      position: absolute;
      left: 0px;
      top: 155px; }
    .tile.tile-position-1-4 {
      position: absolute;
      left: 0px;
      top: 232.5px; }
    .tile.tile-position-2-1 {
      position: absolute;
      left: 77.5px;
      top: 0px; }
    .tile.tile-position-2-2 {
      position: absolute;
      left: 77.5px;
      top: 77.5px; }
    .tile.tile-position-2-3 {
      position: absolute;
      left: 77.5px;
      top: 155px; }
    .tile.tile-position-2-4 {
      position: absolute;
      left: 77.5px;
      top: 232.5px; }
    .tile.tile-position-3-1 {
      position: absolute;
      left: 155px;
      top: 0px; }
    .tile.tile-position-3-2 {
      position: absolute;
      left: 155px;
      top: 77.5px; }
    .tile.tile-position-3-3 {
      position: absolute;
      left: 155px;
      top: 155px; }
    .tile.tile-position-3-4 {
      position: absolute;
      left: 155px;
      top: 232.5px; }
    .tile.tile-position-4-1 {
      position: absolute;
      left: 232.5px;
      top: 0px; }
    .tile.tile-position-4-2 {
      position: absolute;
      left: 232.5px;
      top: 77.5px; }
    .tile.tile-position-4-3 {
      position: absolute;
      left: 232.5px;
      top: 155px; }
    .tile.tile-position-4-4 {
      position: absolute;
      left: 232.5px;
      top: 232.5px; }
  .icon-buttons {
    left: -10px;
    top: -70px; }
    .icon-buttons i {
      font-size: 20px;
      font-size: 2rem; }
  .time-container {
    width: 300px; }
  .time {
    font-size: 18px;
    font-size: 1.8rem;
    right: 0;
    top: -6px;
    text-shadow: none;
    color: white;
    letter-spacing: 0.1rem;
    text-align: right;
    border-radius: 5px;
    -webkit-text-stroke: 0.7px #D04746;
    text-shadow: -2px 2px 0px #E28D8E; }
  .use-keys {
    margin-top: 40px; }
  .game-modal {
    width: 250px;
    height: 300px; }
    .game-modal.question-modal .how-to-fruits {
      margin: 40px auto;
      width: 230px; }
      .game-modal.question-modal .how-to-fruits i {
        font-size: 18px;
        font-size: 1.8rem; }
      .game-modal.question-modal .how-to-fruits img {
        width: 50px; }
    .game-modal.question-modal .game-progression {
      width: 250px; }
      .game-modal.question-modal .game-progression img {
        width: 25px; }
  .game-over-modal p {
    margin-bottom: 0; }
  .more-to-love {
    display: none; }
  .fa-hand-point-left {
    display: none; }
  .mobile-keys {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
    width: 300px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .mobile-keys i {
      font-size: 45px;
      font-size: 4.5rem; }
  .corner-ribbon {
    display: none; }
  .index-modal h2 {
    font-size: 20px;
    font-size: 2rem; }
  .index-modal h3 {
    font-size: 16px;
    font-size: 1.6rem;
    margin: 0;
    margin-bottom: 10px; }
  .index-modal p {
    width: 280px;
    margin: 0 auto;
    font-size: 12px;
    font-size: 1.2rem; }
    .index-modal p i {
      font-size: 20px;
      font-size: 2rem; }
  .question-modal .how-to-fruits {
    margin: 25px auto 10px;
    width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .question-modal .how-to-fruits i {
      font-size: 20px;
      font-size: 2rem; }
    .question-modal .how-to-fruits img {
      width: 60px; }
  .logo-container {
    margin-top: 80px; }
    .logo-container .juicy-font {
      width: 300px; }
    .logo-container .index-jostle {
      font-size: 22px;
      font-size: 2.2rem; }
  .index-icon {
    font-size: 20px;
    font-size: 2rem;
    position: absolute;
    top: 120px; }
    .index-icon.fa-question {
      left: 40px; }
    .index-icon.fa-heart {
      right: 40px; }
  .juicy-button {
    font-size: 11px;
    font-size: 1.1rem;
    text-decoration: none;
    background: white;
    padding: 15px; } }
